<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>controller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>controller.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clubs</servlet-name>
        <servlet-class>controller.Clubs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Events</servlet-name>
        <servlet-class>controller.Events</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>controller.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>controller.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubDAO</servlet-name>
        <servlet-class>dao.ClubDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>controller.RequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clubs</servlet-name>
        <url-pattern>/Clubs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>/Events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubDAO</servlet-name>
        <url-pattern>/ClubDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
    </jsp-config>
    <multipart-config>
        <location>/tmp</location>
        <max-file-size>10485760</max-file-size>
        <!-- 10MB -->
        <max-request-size>10485760</max-request-size>
        <file-size-threshold>0</file-size-threshold>
    </multipart-config>
</web-app>
